@use "./variables.scss" as *;
@use "./mixins.scss" as *;

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Avenir', 'sans‑serif'; 
}

a:active, a:link {
    text-decoration: none;
    text-decoration-line: $primary-color--black
}

address {
    font-style: normal;
}

.nav-bar {
    background-color: $primary-color--black;

    &__logo {
        height: 1.25rem;
        width: 100%;
        margin-top: 1rem;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }

    &__link {
        list-style: none;
        width: 50vw;
        padding: .5rem 0;
        @include body-copy-mobile;
    }

    &__link--selected {
        color: $primary-color--white;
        font-weight: 700;
        border-bottom: 0.1875rem solid $primary-color--white;
    }

    &__link--unselected {
        color: $secondary-color--mercury;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        /* Tablet and above */
        display: flex;
        align-items: center;
        @include body-copy;

        &__logo {
            margin: 0;
            padding-left: 2.25rem;
            width: 20vw;
        }

        &__menu {
            margin-left: 4rem;
            align-items: baseline;
            width: fit-content;
            gap: 50%;
        }

        &__link {
            @include body-copy;
            padding: 1.75rem 0;
            width: fit-content;
        }

        &__link--selected {
            font-weight: 700;  
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {

        /* Desktop and above */
        &__logo {
            padding-left: 9.375rem;
        }

        &__menu {
            margin-left: 3rem;
            align-items: baseline;
            gap: 35%;
        }
    }
}

.footer {
    background-color: $primary-color--black;
    @include footer-copy-mobile;

    &__container {
        width: 100%;
    }

    &__title {
        color: #FFFFFF;
        @include section-header-mobile;
        padding: 1.5rem 1rem 1rem 1rem;
    }

    &__subtitle {
        color: #FFFFFF;
        font-weight: 600;
        padding: 0.5rem 1rem 1rem 1rem;
    }

    &__data,
    &__bottom {
        color: #FFFFFF;
        padding: 0 1rem 1rem 1rem;
    }

    &__social-icons {
        display: flex;
        padding: 0 1rem 1rem 1rem;
        gap: 6%;
    }

    &__social-icons--size {
        width: 1.875rem;
        height: 1.875rem;
    }

    &__logo {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        /* Tablet and above */
        padding: 3rem 2.25rem 2.25rem 2.25rem;
        @include footer-copy;

        &__container {
            display: flex;
        }

        &__top {
            display: flex;
            align-items: center;
            gap: 1%;
        }

        &__title {
            padding: 0 0.8125rem 2.25rem 0;
            @include section-header;
        }

        &__social-icons {
            padding: 0 1.5rem 2.25rem 0;
            gap: 30%;
        }

        &__social-icons--size {
            width: 1.6875rem;
            height: 1.875rem;
        }

        &__sections {
            display: flex;
            gap: 15%;
        }

        &__subtitle,
        &__data {
            padding: 0 0 1.5rem 0;
            width: 128%;
        }

        &__subtitle {
            font-weight: 700;
        }

        &__bottom {
            color: #FFFFFF;
            padding: 1.5rem 0 0 0;
        }

        &__main2 {
            width: 100%;
            text-align: end;
        }

        &__logo {
            padding: 0.875rem 0 0 0;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        /* Desktop and above */
        padding: 3rem 9.375rem;

        &__top {
            gap: 6%;
        }

        &__sections {
            gap: 20%;
        }
    }
}