@charset "UTF-8";
/* primary + secondary variables */
/* tablet-breakpoint + desktop-breakpoint variables */
/* tablet and desktop breakpoint mixins */
/* font styles mixins */
/* mobile font styles */
/* desktop & tablet font styles */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  font-family: "Avenir", "sans‑serif";
}

a:active, a:link {
  text-decoration: none;
  text-decoration-line: #323232;
}

address {
  font-style: normal;
}

.nav-bar {
  background-color: #323232;
}
.nav-bar__logo {
  height: 1.25rem;
  width: 100%;
  margin-top: 1rem;
}
.nav-bar__menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.nav-bar__link {
  list-style: none;
  width: 50vw;
  padding: 0.5rem 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.nav-bar__link--selected {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: 0.1875rem solid #FFFFFF;
}
.nav-bar__link--unselected {
  color: #E1E1E1;
}
@media only screen and (min-width: 768px) {
  .nav-bar {
    /* Tablet and above */
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .nav-bar__logo {
    margin: 0;
    padding-left: 2.25rem;
    width: 20vw;
  }
  .nav-bar__menu {
    margin-left: 4rem;
    align-items: baseline;
    width: -moz-fit-content;
    width: fit-content;
    gap: 50%;
  }
  .nav-bar__link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 1.75rem 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav-bar__link--selected {
    font-weight: 700;
  }
}
@media only screen and (min-width: 1280px) {
  .nav-bar {
    /* Desktop and above */
  }
  .nav-bar__logo {
    padding-left: 9.375rem;
  }
  .nav-bar__menu {
    margin-left: 3rem;
    align-items: baseline;
    gap: 35%;
  }
}

.footer {
  background-color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.footer__container {
  width: 100%;
}
.footer__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem 1rem;
}
.footer__subtitle {
  color: #FFFFFF;
  font-weight: 600;
  padding: 0.5rem 1rem 1rem 1rem;
}
.footer__data, .footer__bottom {
  color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
}
.footer__social-icons {
  display: flex;
  padding: 0 1rem 1rem 1rem;
  gap: 6%;
}
.footer__social-icons--size {
  width: 1.875rem;
  height: 1.875rem;
}
.footer__logo {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    /* Tablet and above */
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footer__container {
    display: flex;
  }
  .footer__top {
    display: flex;
    align-items: center;
    gap: 1%;
  }
  .footer__title {
    padding: 0 0.8125rem 2.25rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  .footer__social-icons {
    padding: 0 1.5rem 2.25rem 0;
    gap: 30%;
  }
  .footer__social-icons--size {
    width: 1.6875rem;
    height: 1.875rem;
  }
  .footer__sections {
    display: flex;
    gap: 15%;
  }
  .footer__subtitle, .footer__data {
    padding: 0 0 1.5rem 0;
    width: 128%;
  }
  .footer__subtitle {
    font-weight: 700;
  }
  .footer__bottom {
    color: #FFFFFF;
    padding: 1.5rem 0 0 0;
  }
  .footer__main2 {
    width: 100%;
    text-align: end;
  }
  .footer__logo {
    padding: 0.875rem 0 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    /* Desktop and above */
    padding: 3rem 9.375rem;
  }
  .footer__top {
    gap: 6%;
  }
  .footer__sections {
    gap: 20%;
  }
}

/* Normal */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2/") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff/") format("woff"), url("../../assets/fonts/AvenirNextLTPro.ttf/") format("truetype");
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2/") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff/") format("woff"), url("../../assets/fonts/AvenirNextLTProBold.ttf/") format("truetype");
  font-weight: 700;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2/") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff/") format("woff"), url("../../assets/fonts/AvenirNextLTProDemi.ttf/") format("truetype");
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
}

.hero-banner {
  position: relative;
  display: flex;
}
.hero-banner__image {
  width: 100%;
  -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
          clip-path: polygon(0 5%, 100% 5%, 100% 95%, 0 95%);
  margin-top: -3.4%;
  margin-bottom: -3.4%;
}
.hero-banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
}
.hero-banner__title {
  position: absolute;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
  bottom: 40%;
  padding-left: 1rem;
}
@media only screen and (min-width: 768px) {
  .hero-banner {
    /* Tablet and above */
  }
  .hero-banner__image {
    -webkit-clip-path: polygon(0 12%, 100% 12%, 100% 100%, 0 100%);
            clip-path: polygon(0 12%, 100% 12%, 100% 100%, 0 100%);
    margin-top: -8%;
    margin-bottom: 0;
  }
  .hero-banner__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 2.25rem;
    bottom: 43%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-banner {
    /* Desktop and above */
  }
  .hero-banner__image {
    -webkit-clip-path: polygon(0 6%, 100% 6%, 100% 80%, 0 80%);
            clip-path: polygon(0 6%, 100% 6%, 100% 80%, 0 80%);
    margin-top: -4%;
    margin-bottom: -13.3%;
  }
  .hero-banner__title {
    padding-left: 9.375rem;
    bottom: 45%;
  }
}

.about {
  display: flex;
  flex-direction: column;
}
.about__title {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem 1rem;
}
.about__image {
  padding: 0 1rem;
}
.about__quote, .about__quote--signature {
  color: #323232;
  padding: 1rem 1rem 0 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
.about__quote--signature {
  padding-top: 0;
}
.about__subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 1.5rem 1rem 1rem 1rem;
}
.about__copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0 1rem 1rem 1rem;
}
@media only screen and (min-width: 768px) {
  .about {
    /* Tablet and above */
  }
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
  .about__image {
    padding: 0 5.9375rem;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 92%, 0 92%);
            clip-path: polygon(0 10%, 100% 10%, 100% 92%, 0 92%);
    margin-top: -2.5rem;
    margin-bottom: -1.875rem;
  }
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2.25rem 5.9375rem 0 5.9375rem;
  }
  .about__quote--signature {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-weight: 700;
    padding: 0.625rem 5.9375rem 0 5.9375rem;
  }
  .about__description {
    display: flex;
    flex-direction: column;
  }
  .about__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 3rem 5.9375rem 0 5.9375rem;
  }
  .about__description--columns {
    display: flex;
    padding: 2.25rem 5.9375rem;
    gap: 1.5rem;
  }
  .about__copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    /* Desktop and above */
  }
  .about__title {
    padding: 3rem 9.375rem 2.25rem 9.375rem;
  }
  .about__image {
    padding: 0 14.8125rem;
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 91%, 0 91%);
            clip-path: polygon(0 10%, 100% 10%, 100% 91%, 0 91%);
    margin-top: -3.3125rem;
    margin-bottom: -3.0625rem;
  }
  .about__quote {
    padding: 2.25rem 14.8125rem 0 14.8125rem;
  }
  .about__quote--signature {
    padding: 0.625rem 14.8125rem 0 14.8125rem;
  }
  .about__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 3rem 14.8125rem 0 14.8125rem;
  }
  .about__description--columns {
    padding: 2.25rem 14.8125rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem 1rem;
}
.gallery__columns {
  display: flex;
  flex-direction: column;
}
.gallery__image {
  padding: 0 1rem 1rem 1rem;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .gallery {
    /* Tablet and above */
  }
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
  .gallery__image--columns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
  .gallery__columns {
    flex-direction: row;
    gap: 1.5rem;
  }
  .gallery__image {
    padding: 0;
    height: 15vw;
    width: 50vw;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    /* Desktop and above */
  }
  .gallery__title {
    padding: 3rem 0 2.25rem 9.375rem;
  }
  .gallery__image--columns {
    padding: 0 9.375rem 2.25rem 9.375rem;
  }
  .gallery__columns {
    justify-content: center;
  }
  .gallery__image {
    height: 14vw;
    width: 24.2vw;
  }
}

@media only screen and (min-width: 1280px) {
  .image-tablet {
    display: none;
  }
}

.image-desktop {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .image-desktop {
    display: flex;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.comments {
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.comments__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 1rem 1rem 1rem;
}
.comments__section {
  display: flex;
  margin: 0 1rem;
}
.comments__new {
  width: 100%;
}
.comments__field {
  display: flex;
  flex-direction: column;
}
.comments__field-name {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.comments__field-area {
  height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  margin-bottom: 1rem;
}
.comments__field-area--comment {
  height: 6.25rem;
}
.comments__button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 0.25rem;
  border: none;
  margin-bottom: 1rem;
}
.comments__avatar-container {
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin: 1.125rem 1rem 0 0;
  overflow: hidden;
  position: relative;
}
.comments__avatar {
  width: 3.0625rem;
  height: 2.5rem;
  background-size: cover;
  background-position: center;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .comments {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
  .comments__section {
    margin: 0 5.9375rem;
  }
  .comments__field-area {
    margin-bottom: 2.25rem;
    height: 3rem;
  }
  .comments__field-area--comment {
    height: 6.25rem;
  }
  .comments__avatar-container {
    min-width: 3rem;
    height: 3rem;
    margin: 1.125rem 1rem 0 0;
  }
  .comments__avatar {
    width: 3.4375rem;
    height: 3.0625rem;
  }
  .comments__button {
    width: 9.375rem;
    margin-bottom: 2.25rem;
  }
  .comments__submit {
    display: flex;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1280px) {
  .comments__title {
    padding: 3rem 9.375rem 2.25rem 9.375rem;
  }
  .comments__section {
    margin: 0 25.6875rem;
  }
  .comments__avatar-container {
    margin: 1.5rem 1rem 0 0;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  border-top: 0.03125rem solid #E1E1E1;
  border-bottom: 0.03125rem solid #E1E1E1;
  margin: 0 1rem 1rem 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.reviews__avatar-container {
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin: 1rem 1rem 0 0;
  background-color: #E1E1E1;
}
.reviews__submitted {
  display: flex;
  border-top: 0.03125rem solid #E1E1E1;
  border-bottom: 0.03125rem solid #E1E1E1;
}
.reviews__data {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}
.reviews__id {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.reviews__name {
  font-weight: 600;
  color: #323232;
}
.reviews__date {
  color: #AFAFAF;
}
@media only screen and (min-width: 768px) {
  .reviews {
    margin: 0 5.9375rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .reviews__submitted {
    padding: 2.25rem 0;
  }
  .reviews__avatar-container {
    min-width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 0;
  }
  .reviews__data {
    margin: 0;
  }
  .reviews__id {
    padding-bottom: 0.5rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews {
    margin: 0 25.6875rem 36px;
  }
  .reviews__id {
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: space-between;
  }
}

input {
  padding-left: 0.75rem;
}
@media only screen and (min-width: 768px) {
  input {
    padding-left: 1rem;
  }
}

textarea {
  padding: 0.75rem;
}
@media only screen and (min-width: 768px) {
  textarea {
    padding-left: 1rem;
  }
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}

input::placeholder, textarea::placeholder {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}
@media only screen and (min-width: 768px) {
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  input::placeholder, textarea::placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */